.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row ;
    text-align: center;
    -webkit-flex: 1 100%;
    flex: 1 100%;
    border: solid black 1px;
    flex-direction: row;
}

* {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-flow: row wrap;

}

.simple {
    max-width: 500px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:solid #67aeca 3px;
    padding: 10px;
}

body {
    background-color:white;
}
h1 {
    font-family: "Terminal Dosis";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    margin:10px;
}
h3 {
    font-family: "Terminal Dosis";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}
p, footer {
    font-family: "Terminal Dosis";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
   margin:10px;
}
blockquote {
    font-family: "Terminal Dosis";
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: "Terminal Dosis";
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}
 
.main-nav {
    background: #5f0f4e;
}
.main-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
.main-nav a {
    padding: 1.25rem 0.5rem;
    font-size: 1.1rem;
    max-width: 140px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: whitesmoke;
}
.main-nav a:hover, .main-nav a:focus {
    background:#e52a6f;
    color: white;
}

li{
    font-family: "Terminal Dosis";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 15px;
    text-align: left;

}
@media (min-width: 1000px) {
    .main-nav a {
        max-width: 500px;
        font-size: 2rem;
    }

}
section {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
}

.column {
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

section:nth-of-type(5) .column:first-of-type {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 30px;
}

section:nth-of-type(6) .column:nth-of-type(2) {
    flex-grow: 4;
    flex-shrink: 4;
    flex-basis: 90px;
}

/* OTHER STYLES */

html, body {
    height: 100%;
    box-sizing: border-box;
}


.column {
     padding: .25px;
   /* background-color: #67aeca;*/
    text-align: center;

}

.img{
    width:128px;
    height:128px;
}